<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{page}}</title>

        <style>
            table {
                width: 100%;
                border: 1px solid black;
            }
            table tr {
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% block start %} {% endblock %}

        <p>This is coming from base class</p>
    </body>
</html>
