<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update Receipes</title>
    </head>
    <body>
        <h2>Update Receipes</h2>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                        >Receipe Name</label
                    >
                    <input
                        type="text"
                        name="receipe_name"
                        class="form-control"
                        value="{{receipe.receipe_name}}"
                    />
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                        >Receipe Description</label
                    >
                    <textarea
                        class="form-control"
                        name="receipe_description"
                        placeholder=""
                    >
                    {{receipe.receipe_description}}
                    </textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                        >Receipe Image</label
                    >
                    <input
                        type="file"
                        class="form-control"
                        name="receipe_image"
                    />
                </div>

                <button type="submit" class="btn btn-primary">
                    Update Receipe
                </button>
            </form>
        </div>
    </body>
</html>
